body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.MainPageClass {
  background-color: #191414;
}

.HeaderTextClass {
  display: block;
  font-family: Arial, sans-serif;
  font-size: xx-large;
  color: aliceblue;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.GameClass {
  border: 8px solid #900;
  width: 800px;
  height: 600px;
  position: relative;
}

#TigerLogoID {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 0;
  top: -85px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
